<div class="jumbotron">
  <p>
    You are
    <%= if ProtectedDocsWeb.Utils.logged_in?(@conn) do %>
      Logged In
    <% else %>
      Not logged in
    <% end %>
  </p>
  <p>
    <%= link "login", to: ProtectedDocs.GitHubOAuthStrategy.authorize_url!() %>
  </p>
  <p>
    <%= link "docs", to: "/docs/rooms.html" %>
  </p>
</div>
